* {
    --bg: #f4f4f5;
    --color-a: black;
}

@media (prefers-color-scheme: dark) {
    * {
        --bg: #3f3f46;
        --color-a: white;
    }
}

:root, body {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: var(--bg);
}

f-pl {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min(100%, 650px);
    padding: 20px;
}

f-pl > *:not(img) {
    width: 100%;
}

f-pl > :is(h2, span) {
    color: var(--color-a);
}

h2 {
    text-align: center;
}

.space {
    font-size: 16px;
}
.space header {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 8px;
}


.icon-pick {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 1%;
    padding: 0 20px;
}

.icon-pick > * {
    width: 30%;
    height: 130px;
    object-fit: contain;
}

.dropimage {
    
    height: 130px;
    padding: 0;
}

.dropimage::before {
    content: "Upload";
    color: black;
    pointer-events: none;
}

:valid[is-valid=false] + .validation-error{
    opacity: 1;
    pointer-events: unset;
}

.validate-in {
    transition: opacity 0.5s ease-out;
}

[is-valid=false] ~ .validate-in {
    opacity: 0;
    pointer-events: none;
}


[not-shown] {
    transition: opacity 0.5s ease-out;
}

[not-shown=false]{
    opacity: 1;
}

[not-shown=true]{
    opacity: 0;
    pointer-events: none;
}