<!DOCTYPE html>
<html>
  <head>
    <title>ThunderSuite Settings</title>
    <script src="fuwu-pl.min.js"></script>
    <script src="options.js"></script>
    <link href="picnic.min.css" rel="stylesheet">
    <link href="options.css" rel="stylesheet">
  </head>
  <body>
    <f-pl data="data, display">
      <img src="128.png">
      <h2>ThunderSuite Settings</h2>
      <f-if check="display.page == PAGES.HOME">
        <f-for from="data.spaces" as="space">
          <article class="card space">
            <header>
              <img f:src="space.icon" width="32" height="32">
              <h2>{{ space.name }}</h2>
              <h3 style="color: hsl(0, 0%, 50%);">{{ space.url }}</h3>
            </header>
            <footer>
              <button evt:click="editSpace(space)">Edit</button>
              <button class="error" evt:click="deleteSpace(space)">Delete</button>
              <button class="warning" style="float: right;" evt:click="advancedSpace(space)">Advanced</button>
            </footer>
          </article>
          
        </f-for>

        <button evt:click="createNewSpace()">Add Space</button>
      </f-if>
      <f-if check="display.page == PAGES.EDIT">

        <span>Space Name: </span>
        <input type="text" f:is-valid="display.inputName.length > 0" placeholder="Space Name" f:value="display.inputName" evt:input="display.inputName = this.value">
        
        <span class="validate-in">Space Url: </span>
        <input class="validate-in" type="text" f:is-valid="isValidInputUrl()" placeholder="Space Url" f:value="display.inputUrl" evt:input="display.inputUrl = this.value">
        
        <span class="validate-in">Pick an Icon: </span>
        <div class="icon-pick validate-in" f:is-valid="!display.icon.endsWith('.svg')">
          <label class="dropimage">
            <input title="Drop image or click me" data-tooltip="Drop image or click me" type="file" evt:change="selectFile($event)">
          </label>
          <button class="success" evt:click="detectIcon()">Detect</button>
          <img f:src="display.icon">
        </div>

        <button class="validate-in" evt:click="submitEdit()">Done</button>
        <button class="error" evt:click="display.page = PAGES.HOME">Cancel</button>
      </f-if>
      <f-if check="display.page == PAGES.ADVANCED">

        <article class="card space">
          <header>
            <img f:src="display.icon" width="32" height="32">
            <h2>{{ display.inputName }}</h2>
            <h3 style="color: hsl(0, 0%, 50%);">{{ display.url }}</h3>
          </header>
          <footer>
            <span>User Agent: </span>
            <select evt:input="display.agentSelect = this.value">
              <option value="" evt:f-add="mightSelect(this)">Default</option>
              <option value="ff" evt:f-add="mightSelect(this)">Firefox</option>
              <option value="custom" evt:f-add="mightSelect(this)">Custom</option>
            </select>
            <input type="text" f:value="display.agentInput ?? ''" evt:input="display.agentInput = this.value"
              f:not-shown="display.agentSelect != 'custom'" f:placeholder="navigator.userAgent ?? '...'">
          </footer>
        </article>

        <button evt:click="applyAdvanced()">Apply</button>
        <button class="error" evt:click="display.page = PAGES.HOME">Cancel</button>
      </f-if>
    </f-pl>
  </body>
</html>
